/* Generic Styles */

* {
  /* outline: 1px solid red; */
  font-family: 'Switzer';
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: #1A1A1A;
  display: flex;
  flex-direction: column;
}

.capitalize {
  text-transform: capitalize;
}

.category-tag {
  border-radius: 4px;
  color: #AAAAAA;
  cursor: pointer;
  display: flex;
  letter-spacing: -0.6px;
  outline: 2px solid #AAAAAA;
  padding: 6px 8px;
  width: fit-content;
}

.selectable-input:checked+.category-tag {
  color: white;
  outline: 1px solid white;
}

.category-wrapper {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.back-nav {
  color: #747474;
  display: flex;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -1px;
}

.back-nav-button {
  align-items: center;
  background-color: #1A1A1A;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  height: 32px;
  margin: 0 8px 0 0;
  width: 32px;
}

/* Landing Styles */
.landing-header {
  align-items: center;
  display: flex;
  justify-content: center;
}

.landing-header-right {
  margin: 0 0 0 4px;
}

.landing-version {
  color: #6B6B6B;
  font-size: 12px;
  font-weight: 400;
  line-height: 80%;
  letter-spacing: -0.6px;
}

.landing-title {
  color: #FFF;
  font-size: 36px;
  font-weight: 500;
  line-height: 80%;
  letter-spacing: -1.8px;
  margin: 6px 0;
}

.landing-subtitle {
  color: #6B6B6B;
  font-weight: 500;
  line-height: 80%;
  letter-spacing: -1px;
}


/* Layout Styles */

.navbar {
  align-items: center;
  background-color: #272727;
  border-radius: 5px;
  color: #E2FF00;
  display: flex;
  height: fit-content;
  justify-content: space-between;
  margin: 32px;
  padding: 16px 32px;
  position: fixed;
  width: calc(100% - 128px);
  z-index: 2;
}

.navbar-logo {
  width: 128px;
}

.navbar-open {
  background-color: #272727;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 0 64px 0;
  width: calc(100% - 128px);
  position: fixed;
  z-index: 1;
}

.navbar-open-bottom {
  display: flex;
  gap: 32px;
}

.navbar-menu {
  margin: 0 0 48px;
  width: 100%;
}

.divider {
  width: calc(100% - 64px);
  border-top: solid 1px #888888;
  margin: 0 32px;
}

.divider-bottom {
  border-top: solid 1px #6B6B6B;
  width: 100%;
}

.navbar-greeting {
  color: #6B6B6B;
  letter-spacing: -0.8px;
}

.navbar-ghost {
  height: 96px;
}

.nav-item {
  color: #6B6B6B;
  border-top: solid 1px #6B6B6B;
  border-bottom: solid 1px #6B6B6B;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 0 16px 0 0;
  text-transform: capitalize;
  width: 100%;
}

.nav-item:hover {
  border-top: solid 1px white;
  border-bottom: solid 1px white;
  color: white;
}

.nav-item-index {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 80%;
  letter-spacing: 0.8px;
}

main {
  z-index: 0;
}

.page-heading {
  display: flex;
  margin: 8px 32px 24px;
  text-transform: capitalize;
}

.page-heading-icon {
  margin: 0 12px 0 0;
}

.page-heading-title {
  font-family: Syne;
  font-size: 256px;
  font-style: normal;
  font-weight: 500;
  line-height: 80%;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

.content-block {
  background-color: #272727;
  border-radius: 5px;
  height: fit-content;
  margin: 16px 32px;
  padding: 16px;
}

.action-block {
  align-items: center;
  background-color: #272727;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  font-weight: 500;
  height: fit-content;
  justify-content: center;
  margin: 16px 32px;
  padding: 16px;
}


/* Table Styles */

.input-label {
  display: flex;
  color: white;
  margin: 0 0 8px;
}

.upload-image {
  align-items: center;
  background-color: #1A1A1A;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  font-weight: 500;
  height: fit-content;
  justify-content: center;
  margin: 16px 0;
  padding: 16px;
}

.thumbnail {
  width: 100%;
}

.input-field {
  background-color: #1A1A1A;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  margin: 0 0 16px;
  width: calc(100% - 32px);
  padding: 12px 16px;
}

.input-time {
  display: flex;
  margin: 0 0 16px;
}

.input-field:focus {
  outline: none;
}

.input-field::placeholder {
  color: #6B6B6B;
}

.table-columns {
  margin: 0 0 16px;
}

.table-column-titles {
  color: white;
  display: flex;
  font-weight: 500;
  justify-content: space-between;
  padding: 0 16px;
  text-transform: capitalize;
}

.table-column {
  width: 45%;
}

.table-row {
  background-color: #1A1A1A;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 0 8px;
  padding: 24px 16px;
  transition: 0.2s;
}

.table-row:hover {
  outline: 2px solid #6B6B6B;
}

.table-row-titles {
  align-items: center;
  color: white;
  display: flex;
  justify-content: space-between;
}


/* Button Styles */

.button-standard {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Switzer';
  font-size: 20px;
  font-weight: 500;
  height: fit-content;
  padding: 12px 16px;
  width: fit-content;
}

.button-lime {
  background-color: #E2FF00;
  color: black;
}

.button-grey {
  background-color: #6B6B6B;
  color: white;
}

.button-red {
  background-color: #DF5F5F;
  color: white;
}

/* Landing Page Styles */

.landing {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.user-name {
  color: #FFF;
  font-size: 32px;
  font-weight: 600;
  line-height: 80%;
  letter-spacing: -1.6px;
  margin: 0 0 8px;
}

.user-email {
  color: #6B6B6B;
  font-size: 20px;
  font-weight: 400;
  line-height: 80%;
  letter-spacing: -0.7px;
  margin: 0 0 8px;
}

.user-info {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.6px;
  margin: 0 0 8px;
}

.user-buttons {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 8px;
}

.wip {
  color: white;
}

.hp-a-video {
  width: 100%;
  position: absolute;
  z-index: -1;
  height: 100vh;
  object-fit: cover;
}


.home-a {
  background-image: url(../public/background.png);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 160px 64px 64px;
}

.home-a-title {
  color: #FFF;
  font-family: Syne;
  font-size: 128px;
  font-style: normal;
  font-weight: 500;
  line-height: 80%;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.home-a-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.event-card {
  cursor: pointer;
  background-color: #272727;
  border-radius: 5px;
  padding: 16px 16px 20px;
}

.event-card-top {
  align-items: center;
  color: white;
  display: flex;
  margin: 0 0 12px;
  justify-content: space-between;
}

.event-card-countdown {
  color: #AAA;
  text-align: right;
  font-family: "Switzer";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1.2px;
  height: fit-content;
}

.event-card-info {
  color: #AAA;
  font-family: "Switzer";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.6px;
  margin: 2px 0 0;
}

.event-card-title {
  color: white;
  font-family: "Switzer";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 100%;
}

.event-card-thumbnail {
  width: 100%;
}

.events-wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 32px;
}

.home-b {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px 64px 48px;
}

.events {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 160px 64px 48px;
}


.home-b-top {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.section-title {
  color: #FFF;
  font-family: Syne;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 80%;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.standard-text {
  color: #FFF;
  font-family: "Switzer";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.7px;
  margin: 0 0 16px;
}

.footer {
  align-items: center;
  background-color: #272727;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  height: fit-content;
  padding: 32px;
}

.footer-main {
  align-items: center;
  display: flex;
  gap: 64px;
  justify-content: center;
}

.footer-logo {
  width: 360px;
}

.footer-bottom {
  align-items: center;
  color: #6B6B6B;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  width: 720px;
}

.footer-links {
  display: flex;
  gap: 32px;
}

.footer-li {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.footer-link {
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -1px;
}


.justify-end {
  display: flex;
  justify-content: end;
  width: 100%;
}

.home-c {
  display: flex;
  flex-direction: column;
  padding: 32px 64px 48px;
  gap: 16px;
}

.home-c-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.home-c-img-wrapper-outer {
  display: flex;
  gap: 16px;
  object-fit: cover;
  height: 50vh;
  width: 100%;
}

.home-c-img-wrapper-left {
  width: 55%;
}

.home-c-img-wrapper-right {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
  width: 45%;
}

.home-c-title {
  color: #FFF;
  font-family: Syne;
  font-size: 128px;
  font-style: normal;
  font-weight: 500;
  line-height: 80%;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  width: 50%;
}

.sponsor-card {
  align-items: center;
  cursor: pointer;
  background-color: #272727;
  border-radius: 5px;
  display: flex;
  height: 196px;
  justify-content: center;
}

.sponsor-icon {
  height: 84px;
}

.sponsor-wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 16px;
}

.social-media-link {
  display: flex;
  border-radius: 50%;
  background-color: #1A1A1A;
  padding: 16px;
}

.social-media-link-wrapper {
  display: flex;
  justify-content: space-between;
  width: 360px;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 160px 64px 64px;
}

.about-img {
  object-fit: cover;
  height: 512px;
  width: 100%;
  margin: 0 0 8px;
}

.about-top {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about-bottom {
  display: flex;
  gap: 32px;
}

.about-bottom-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.about-buttons {
  display: flex;
  gap: 16px;
}